* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v147_780 {
  width: 100%;
  height: 1300px;
  background: rgba(170,123,8,0.699999988079071);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
}
.v147_781 {
  width: 100%;
  height: 100%;
  background: rgba(234,234,234,1);
  opacity: 1;
  position: absolute;
  top: 91px;
  left: 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v147_782 {
  width: 100%;
  height: 184px;
  background: url("../images/v147_782.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1116px;
  left: 0px;
  overflow: hidden;
}
.v147_783 {
  width: 100%;
  height: 184px;
  background: rgba(54,130,47,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v147_784 {
  width: 369px;
  height: 122px;
  background: url("../images/v147_784.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 115px;
  overflow: hidden;
}
.v147_785 {
  width: 271px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v147_786 {
  width: 369px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 49px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v147_787 {
  width: 324px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 103px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v147_788 {
  width: 163px;
  height: 138px;
  background: url("../images/v147_788.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 685px;
  overflow: hidden;
}
.v147_789 {
  width: 163px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v147_790 {
  width: 107px;
  height: 19px;
  background: url("../images/v147_790.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 119px;
  left: 1px;
  overflow: hidden;
}
.v147_791 {
  width: 69px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 38px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v147_792 {
  width: 22px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v147_793 {
  width: 121px;
  height: 22px;
  background: url("../images/v147_793.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 1px;
  overflow: hidden;
}
.v147_794 {
  width: 82px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 38px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v147_795 {
  width: 22px;
  height: 22px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v147_796 {
  width: 122px;
  height: 22px;
  background: url("../images/v147_796.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 84px;
  left: 1px;
  overflow: hidden;
}
.v147_797 {
  width: 83px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 38px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v147_798 {
  width: 22px;
  height: 22px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v147_799 {
  width: 360px;
  height: 139px;
  background: url("../images/v147_799.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 1051px;
  overflow: hidden;
}
.v147_800 {
  width: 204px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v147_801 {
  width: 360px;
  height: 95px;
  background: url("../images/v147_801.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 0px;
  border: 1px solid rgba(255,255,255,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v147_802 {
  width: 16px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 109px;
  left: 330px;
}
.v147_803 {
  width: 100%;
  height: 92px;
  background: url("../images/v147_803.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v147_804 {
  width: 100%;
  height: 92px;
  background: rgba(54,130,47,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v147_805 {
  width: 241px;
  height: 47px;
  background: url("../images/v147_805.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 54px;
  overflow: hidden;
}
.v147_806 {
  width: 48px;
  height: 47px;
  background: url("../images/v147_806.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v147_807 {
  width: 175px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 4px;
  left: 66px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v147_808 {
  width: 81px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 34px;
  left: 602px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v147_809 {
  width: 63px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 34px;
  left: 978px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v147_810 {
  width: 306px;
  height: 54px;
  background: url("../images/v147_810.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 1105px;
  overflow: hidden;
}
.v147_811 {
  width: 306px;
  height: 54px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v147_812 {
  width: 18px;
  height: 18px;
  background: url("../images/v147_812.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 265px;
  overflow: hidden;
}
.v147_813 {
  width: 16px;
  height: 15px;
  background: url("../images/v147_813.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(0,0,0,1);
}
.v147_814 {
  width: 4px;
  height: 4px;
  background: url("../images/v147_814.png");
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 13px;
  border: 2px solid rgba(0,0,0,1);
}
.name {
  color: #fff;
}
.v147_816 {
  width: 723px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 239px;
  left: 370px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 35px;
  opacity: 1;
  text-align: center;
}
.v147_817 {
  width: 446px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 172px;
  left: 522px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v150_416 {
  width: 700px;
  height: 700px;
  background: url("../images/v150_416.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 350px;
  left: 370px;
  overflow: hidden;
}
